extends layout

block HomeHeadContent
  script(type='text/javascript', src='/javascripts/home.js')

block content
  h1= title
  p Welcome all to #{title}
  br
  p#uptime Hello
  br
  span#tstamp
  br
  img#IndicatorLight(src="/images/LightsOff.png")
  img#IndicatorBulb(src="/images/BulbOff.png")
  //button(onclick='start()') Connect
