extends layout

block HomeHeadContent
  script(type='text/javascript', src='/javascripts/home.js')

block content
  p#greeting Welcome to the Light Switch Site!
  br
  p#uptime
  br
  img#IndicatorLight(src="/images/loading_spinner.gif")
  br
  p#IndicatorText
  
