doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/jquery.min.js')
    link(href='http://fonts.googleapis.com/css?family=Pompiere' rel='stylesheet' type='text/css')
    block HomeHeadContent
    
  body
    block content
